/*To create a 4-grid layout with CSS*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 50%;
  font-family: 'Open Sans', sans-serif;
  background: #257a6f;
  color: rgb(247, 243, 243);
  font-size: 18px;
  text-align: center;
  letter-spacing: 1.2px;
  
 /*background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(23, 75, 97, 0.4) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(26, 42, 49, 0.4) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  */background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3E1D6D', endColorstr='#092756', GradientType=1);

}
/* 
.main > div{
  display: flex;
  flex-direction: column;

transition: margin-left .5s;
If you want a transition effect 
margin: 10rem;
}*/


.container1 > div {
height: fit-content;
border: .29rem solid black;
box-sizing: border-box;
border-radius: 15px;
margin: .51rem;
}
.container {
  display: flex;
  padding: '20';
  margin-left: 0;

}
 

.container > div {
border: .29rem solid black;
box-sizing: border-box;
border-radius: 15px;
margin: .51rem;
width: 90%;
}

.dash-dropdown {
  margin-top: 1rem;
  width: 80%;
  font-size: 1rem;
}

P {
  color: rgb(55, 105, 221);
}

.app__header__desc {
  font-size: 1rem;
  font-weight: bold;
}

/* The sidebar menu */
.nav {
  font-size: "1rem";
  color: rgb(12, 12, 12);
  text-align: center;
  text-transform: uppercase;
  /* 100% Full-height */
  width: 100%;
  background-color: #424a55;
 
}

/* The sidebar links */
.nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.nav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .nav {
      padding-top: 15px;
  }

  .nav a {
      font-size: 18px;
  }
}