/*To create a 4-grid layout with CSS*/
.main{
  margin: 10rem;
  width: 90%;
  height: fit-content;
}
.container1 > div {
  height: fit-content;
  border: .29rem solid black;
  box-sizing: border-box;
  border-radius: 15px;
  margin: .51rem;
}

.container {
display: flex ;
padding: '0 20';
width: 100%;
border-radius: 15px;
}

.container > div {
  width: 50%;
  border: .29rem solid black;
  box-sizing: border-box;
  border-radius: 15px;
  margin: .51rem;
  box-sizing: border-box;
 
  
}

.dash-dropdown{
margin-top: 1rem;
width: 99%;
font-size: 1rem;
}
P{
  color: rgb(55, 105, 221);
}
.app__header__desc{
  font-size:1rem;
  font-weight: bold;
}
/*
#bar-chart #histogram-plot #scatter-plot{
  height: fit-content;
  width: fit-content;

}*/